@{
    ViewData["Title"] = "One_Piece";
}

<div class="text-center">
    <h1 class="display-4">One_Piece</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
